@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fdfcee;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(212 212 212);
  border-radius: 5px;
}
